@import url("https://fastly.jsdelivr.net/npm/@fontsource/nunito/index.css");
.sandbox {
    height: 100%;
    width: 100%;
    font-family: "Nunito";
    font-weight: bold;

    @apply bg-gray-800 text-gray-300;
    input {
        /* 这里需要单独设置来实现字体 */
        font-family: "Nunito";
    }
    [data-icon] {
        @apply flex items-center justify-center p-1 cursor-pointer select-none;
    }
}
.file_box {
    @apply flex h-full;
}
.editor_list {
    @apply flex flex-col flex-grow h-full w-full overflow-hidden;
}
.editor_header {
    @apply flex items-center justify-center cursor-default;
}
