.sandbox {
    height: 100%;
    width: 100%;
    font-family: "Source";
    font-weight: bold;

    @apply bg-gray-800 text-gray-300;
    input {
        /* 这里需要单独设置来实现字体 */
        font-family: "Source";
    }
    [data-icon] {
        @apply flex items-center justify-center p-1 cursor-pointer select-none;
    }
}
.file_box {
    @apply flex h-full;
}
